.link{
    color: black;
    text-align: left;
    font-size: 25px;
}
.link:hover {
    color: darkgreen;
    text-decoration-line: underline;
}
.sns {
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: -26px;
    color: white;
    top: 50%;
    margin-top: -25px;
}

.sns_base {
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 2px;
    width: 35px;
    height: 190px;
    color: black;
    background-color: black;
    top: 50%;
    margin-top: -25px;
}
.sns a i {
    
    font-size: 30px; /* アイコンの大きさを24pxに設定 */
    width: 25px; /* アイコンの幅を24pxに設定 */
    height: 24px; /* アイコンの高さを24pxに設定 */
    display: inline-block; /* インラインブロック要素として扱う */
    text-align: center; /* アイコンを中央揃えにする */
    line-height: 24px; /* アイコンの高さに合わせてテキストの高さを調整 */
}
.fa-brands.fa-youtube{
    font-size: 27px;
    margin-top: 10%;
    margin-bottom:40%;/* ボタン下余白 */
}
.fa-brands.fa-bluesky{
    font-size: 27px;
    margin-top: 10%;
    margin-bottom: 40%;
}
li {
    text-align: center;
}