h1 {
    font-size: 40px;
}
.link {
    color: black;
    text-align: left;
    font-size: 25px;
}
.link:hover {
    color: darkgreen;
    text-decoration-line: underline;
}
.title {
    color:black;
    text-align: left;
    font-size: 25px;
}
.title:hover {
    color: black;
    text-decoration-line: none;
}